<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Event Planner{% endblock %}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('auth.profile') }}">Profile</a></li>
          <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
          {% else %}
          <li><a href="{{ url_for('auth.login') }}">Login</a></li>
          <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
    </main>

    <footer>
      <p>&copy; 2023 Event Planner. All rights reserved.</p>
      {% include 'report_problem_modal.html' %} 
      <button id="reportProblemButton" onclick="openReportForm()">Report a Problem</button>

    </footer>

    {% block extra_js %}{% endblock %}
  </body>
</html>
