<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Upcoming Events</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('events_bp.landing_page') }}">Home</a></li>
                <li><a href="{{ url_for('events_bp.upcoming_events') }}">View All Events</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="event-list">
            {% if events %}
                <h2>Featured Events</h2>
                <div class="event-preview">
                    {% for event in events %}
                    <div class="event">
                        <h4>{{ event.title }}</h4>
                        <p><strong>Time:</strong>
                            {% if event.time %}
                                {{ event.time | slice(0, 5) }}  <!-- Displaying only the time part of the string -->
                            {% else %}
                                No Time Available
                            {% endif %}
                        </p>
                        <p><strong>Date:</strong> {{ event.date }}</p>
                        <p><strong>Location:</strong> {{ event.location }}</p>
                        <p><strong>Type:</strong> {{ event.type }}</p>
                        <a href="{{ url_for('events_bp.event_details', event_id=event['id']) }}">More Info</a>
                    </div>
                    {% endfor %}
            {% else %}
                <p>No upcoming events at the moment.</p>
            {% endif %}
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Events Portal. All Rights Reserved.</p>
    </footer>
</body>
</html>